


h1{
	color:rgb(121,71,71);
	font-family:cursive;
	text-align: center;
	font-style: italic;
	display: flex; justify-content: center;
	line-height: 50px;

	
}
h2{
	color: rgb(121,71,71);
	font-family: monospace;
	text-align: center;
	font-weight: bold;
	line-height: 50px;
}
p{
	color: rgb(121,71,71);
	background-color: rgb(236,222,222);
	font-family: sans-serif;
	letter-spacing: 1px;
	line-height: 20px;
	text-align: center;
	
}
body{
	background-color: rgb(245,238,238);
}
nav {
	background-color: whitesmoke;
	max-width: 800px;
	margin: auto;
	font-size: 1.5em;
}

nav ul {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	justify-content: space-evenly;
	
}

nav ul li {
	background-color: whitesmoke;
	flex-flow: row wrap;
	align-items: stretch;
	list-style-type: none;
	padding: 1rem;
	max-width: 100%;
	border-radius: 0.1rem;

}

nav ul li a {
	text-decoration: none;
	color: rgb(203,171,171);
}

nav ul li a:visited {
	text-decoration: none;
	color: rgb(203,171,171);
}

nav ul li a:hover {
	text-decoration: ;
	color: rgb(173,122,122);
}

	

footer {
	text-align: center;
	color:rgb(121,71,71) ;
}

@media (min-width:555px) {
	.media-holder {
		flex-direction: row;
	}
	.image-holder {
		width: 30%;
	}
	.text-holder {
		width 70%
	}

	nav{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 50%;
		
	}
}
@media (max-width: 800px) {
	.image-holder{
		width:250px;
	}
	.media-holder .text-holder {
		width: clamp(100% - 250px);
	}

	nav{
		width: 25%;
		background-color: rgb(129,86,77);
		color: white;
		font-size: 1rem;
		max-width: 100%px;

	}

	nav ul {
		display: flex;
		align-items: stretch;
		flex-direction: column;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		border-radius: 0.5rem;
	}
	nav ul li {
		flex-flow: row wrap;
		list-style-type: none;
		padding: 0.1rem;
		text-align: center;
		margin-top: 0.15rem;
	}
	nav ul li a {
		text-decoration: none;
		text-transform: uppercase;
	}
	body{
		background-color: rgb(129,86,77);
	}
	h1{
		color: white;
		background-color: rgb(129,86,77);
	}
	h2{
		color: white;
		background-color: rgb(129,86,77);
	}
	p{
		color: white;
		background-color: rgb(129,86,77);
	}
	footer{
		color:white;
		background-color: rgb(129,86,77);
	}

.location-holder {
  width: 100%;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  box-sizing: border-box;
}

.text-holder {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

}











	