head {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgb(247,242,239);
}


body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgb(215,190,173)
}

nav {
	font-family: 'Roboto+Condensed',sans-serif;
	font-size: 15px;
	color: rgb(10,7,5)
	margin: auto;	
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Noto Serif Display',serif;
	font-size: 50px;
	color: rgb(10,7,5)
}

h2 {

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
	font-family: 'Playfair Display',serif;
	font-size: 30px;
	color: rgb(10,7,5)
}

}

.mailing-link {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.listings {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Playfair Display',serif;
	font-size: 25px;
	color: rgb(10,7,5)
}

ul {
	font-family: 'Roboto+Condensed',sans-serif;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	ccolor: rgb(10,7,5)
	margin: auto;

}
{
font-family: 'Roboto+Condensed',sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Noto Serif Display', serif;
}